header{
    height: 10vh;
    .magic-toolbar-spacer{
        flex: 1 1 auto;
    }
    
    .toolbar-title{
        margin-left: .75rem;
    }
    .toolbar-header{
        position: fixed;
        height: 10vh;
    }

    .magic-icon{
        margin-left:1rem;
    }
}