<header>
    <mat-toolbar color="primary" class="mat-elevation-z6 docs-navbar-header toolbar-header">
    <button mat-icon-button class="magic-icon" aria-label="Example icon-button with menu icon">
        <img src="assets/images/icons/magic.png" alt="Magic Framework" srcset="">
    </button>
    <span class="toolbar-title">{{title}}</span>
    <span class="magic-toolbar-spacer"></span>
    <nav>
        <a mat-button>HOME</a>
        <a mat-button>STARTER</a>
        <a mat-button>CRUD GENERATOR</a>
        <a mat-button>COMPONENTS</a>
        <a mat-button>MACHINE LEARNING</a>
    </nav>
    <span class="magic-toolbar-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button>
  </mat-toolbar>
</header>