<div class="generate-buttons">

    <div class="container">
        <div class="radio-tile-group">
            <div class="input-container" (click)="selectSpringForm()">
                <input id="spring" class="radio-button" type="radio" name="radio" checked="true"/> 
                <div class="radio-tile">
                    <div class="icon car-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 767.8 768" width="2499" height="2500"><path class="st0" d="M698.3 40c-10.8 25.8-24.5 50.3-41 72.8C585.1 40.6 487.1 0 385 0 173.8 0 0 174 0 385.5 0 491 43.2 592 119.6 664.8l14.2 12.6c69.4 58.5 157.3 90.7 248 90.7 200.8 0 369.6-157.4 383.9-358 10.5-98.2-18.3-222.4-67.4-370.1zm-524 627c-6.2 7.7-15.7 12.2-25.6 12.2-18.1 0-32.9-14.9-32.9-33s14.9-33 32.9-33c7.5 0 14.9 2.6 20.7 7.4 14.1 11.4 16.3 32.3 4.9 46.4zm522.4-115.4c-95 126.7-297.9 84-428 90.1 0 0-23.1 1.4-46.3 5.2 0 0 8.7-3.7 20-8 91.3-31.8 134.5-38 190-66.5 104.5-53.2 207.8-169.6 229.3-290.7C621.9 398.2 501.3 498.3 391.4 539c-75.3 27.8-211.3 54.8-211.3 54.8l-5.5-2.9C82 545.8 79.2 345.1 247.5 280.3c73.7-28.4 144.2-12.8 223.8-31.8 85-20.2 183.3-84 223.3-167.2 44.8 133.1 98.7 341.5 2.1 470.3z"/></svg>
                    </div>
                    <label for="spring" class="radio-tile-label">Spring</label>
                </div>
            </div>
            <div class="input-container" (click)="selectAngularForm()">
                <input id="angular" class="radio-button" type="radio" name="radio" />
                <div class="radio-tile">
                    <div class="icon json-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 415.6 512"><path d="M169.7 268.1h76.2l-38.1-91.6-38.1 91.6zM207.8 32L0 106.4l31.8 275.7 176 97.9 176-97.9 31.8-275.7L207.8 32zM338 373.8h-48.6l-26.2-65.4H152.6l-26.2 65.4H77.7L207.8 81.5 338 373.8z"/></svg>

                    </div>
                    
                    <label for="angular" class="radio-tile-label">Angular</label>
                </div>
            </div>
            <div class="input-container" (click)="selectFlutterForm()">
                <input id="flutter" class="radio-button" type="radio" name="radio" />
                <div class="radio-tile">
                    <div class="icon json-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="2500" viewBox=".29 .22 77.26 95.75" width="2014"><g  fill-rule="evenodd"><path d="m48.75 95.97-25.91-25.74 14.32-14.57 40.39 40.31z"/><g><path d="m22.52 70.25 25.68-25.68h28.87l-39.95 39.95z" fill-opacity=".85"/><path d="m.29 47.85 14.58 14.57 62.2-62.2h-29.02z"/></g></g></svg>
                    </div>
                    
                    <label for="flutter" class="radio-tile-label">Flutter</label>
                </div>
            </div>

           
        </div>
    </div>
</div>