<footer class="magic-footer">
    <div class="footer-container">
        <div class="footer-logo">
            <div class="magic-logo">
                <img src="assets/images/icons/magic.png" class="magic-logo-img" alt="" srcset="">
                <span>Magic</span>
            </div>
        </div>
        <div class="footer-exception">
            <img src="https://www.flaticon.com/svg/static/icons/svg/1004/1004763.svg" alt="" srcset="">
            <span>Exception</span>
        </div>
        <div class="footer-credits">
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
    </div>
</footer>