@import '../../../styles/themes/themes.scss';

.magic-footer{
    height: 10vh;
    max-height: 75px;
    font-size: 12px;
    background: #e91e63;
    color: #fff;
    .footer-container{
        height: 100%;
        padding: 0 20px ;
        
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        .footer-logo{
            flex: 1;
            .magic-logo{
                .magic-logo-img{
                    width: 50px;
                    
                }
                span{
                    display: inline-block;
                    line-height: 50px;
                    font-size: 16px;
                    padding: 0;
                    margin: 0 40px;
                    vertical-align: bottom;
                }
            }

        }
        .footer-exception{
            flex: 1;
            display: flex;
            align-items: center;
            span{
                margin-left: .5rem;
                font-size: 1.5rem;
            }
            img{
                width: 40px;
            }
        }
        .footer-credits{
            a{
                color: #000;
            }
        }
    }
}

