<h1 class="text-title main-title">STARTER</h1>
<p>Comece facilmente a criar seu projeto com o front, back e mobile configurados em menos de 5 minutos!</p>
<h2 class="text-title">O que é gerado?</h2>
<div class="generated">
    <div class="spring-boot">
        <h3>Spring Boot:</h3>
        <ul>
            <li>Models</li>
            <li>Services (com paginação e filtros múltiplos)</li>
            <li>Repository</li>
            <li>Controllers</li>
        </ul>
    </div>
    <div class="angular-flutter">
        <h3>Angular e Flutter</h3>
        <ul>
            <li>Models</li>
            <li>Services (com paginação e filtros múltiplos)</li>
        </ul>
    </div>
</div>
<h2 class="text-title">Como adicionar no projeto?</h2>
<div class="tabs-how-to">
    <mat-tab-group>
        <mat-tab label="Spring">
            <ul>
                <li>Extraia todo o conteúdo do arquivo Exception.zip</li>
                <li>Copie o conteúdo da pasta java</li>
                <li>Vá até a raiz do seu projeto / src / main / java </li>
                <li>Cole todo o conteúdo copiado</li>
            </ul>
        </mat-tab>
        <mat-tab label="Angular">
            <ul>
                <li>Extraia todo o conteúdo do arquivo Exception.zip</li>
                <li>Copie o conteúdo da pasta Angular</li>
                <li>Vá até a pasta raiz do componente que utilizará o service </li>
                <li>Cole todo o conteúdo copiado</li>
            </ul> 
        </mat-tab>
        <mat-tab label="Flutter">
            <ul>
                <li>Extraia todo o conteúdo do arquivo Exception.zip</li>
                <li>Copie o conteúdo da pasta Flutter</li>
                <li>Vá até a pasta raiz do componente que utilizará o service </li>
                <li>Cole todo o conteúdo copiado</li>
            </ul>
        </mat-tab>
        </mat-tab-group>
</div>
        