.home-container{
    padding: 1rem;
    .generate-buttons{
        display: flex;
        button{
            margin-left: 1.5rem;
        }
    }
    .generated{
        display: flex;
        .angular-flutter{
            margin-left: 5rem;
        }
    }
    .generate-json{
        .form{
            display: flex;
            
            padding-top: 2rem;
            .form-generate-json{
                display: flex;
                padding-right: 1rem;
                flex-direction: column;
            }
        }
        .generate-button{
            padding:1rem;
        }
    }
}

    